/* 
*
*   DISEÑO Y COLORES DE TODOS LOS COMPONENTES.
*
*/

[data-theme="light"] {
  --color-background: #fff;
  --color-text: black;
  --card-background: rgb(205, 213, 221);
  --bg-ligth: rgb(213, 236, 255);
  --color-panel:#bcbdbe;
}

[data-theme="dark"] {
  --color-background: #242729;
  --color-text: #fff;
  --card-background: rgb(56, 87, 119);
  --bg-ligth: rgb(109, 189, 255);
  --color-panel:#fafcff;


}


::placeholder {
  color: var(--color-text);
}

label {
  color: var(--color-text);
}

li.list-group-item {
  background-color: var(--color-background);
  border-color: var(--color-text);
}

#mail-panel {
  background-color: var(--color-panel);
}

input:not(input[type="radio"]),
textarea,
input:focus,
textarea:focus {
  background-color: var(--bg-ligth) !important;
}

* {
  box-sizing: border-box;
  color: var(--color-text) !important;
}


body,
select {
  margin: 0;
  background-color: var(--color-background) !important;
  color: var(--color-text);
}

.auth-form {
  background-color: var(--login-color);
  background-repeat: no-repeat;
  background-size: cover;
}

.lupa {
  position: absolute;
  left: 100%;
  top: 25%;
}

.nav-item-home {
  margin-left: 5em;
  border-radius: 3px;
  padding: 0 5px 0 5px;
  font-size: 1.1em;
}

.nav-item-home>a {
  color: var(--home-nav-color) !important;
  width: 8em;
}

.nav-item-home:hover {
  background-color: #a2d9ff;
}



#navbar-home {
  border-bottom: #c7b198 1px solid;
}

.meta-bg {
  background: radial-gradient(ellipse farthest-corner at center center,
      rgba(255, 255, 255, 0) 5%,
      #07cf00 100%);
}

.meta-bg>ul {
  background-color: #07cf00c4;
}

.card_product_bg {
  background-color: var(--card-background);
}

.butto_color_yellow {
  background-color: #ffd814;
}

.lupa {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiPjxkZWZzPjxmaWx0ZXIgaWQ9ImRhcmtyZWFkZXItaW1hZ2UtZmlsdGVyIj48ZmVDb2xvck1hdHJpeCB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMC4yNDkgLTAuNjE0IC0wLjY3MiAwLjAwMCAxLjAzNSAtMC42NDYgMC4yODggLTAuNjY0IDAuMDAwIDEuMDIwIC0wLjYzNiAtMC42MDkgMC4yNTAgMC4wMDAgMC45OTQgMC4wMDAgMC4wMDAgMC4wMDAgMS4wMDAgMC4wMDAiIC8+PC9maWx0ZXI+PC9kZWZzPjxpbWFnZSB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbHRlcj0idXJsKCNkYXJrcmVhZGVyLWltYWdlLWZpbHRlcikiIHhsaW5rOmhyZWY9ImRhdGE6aW1hZ2UvcG5nO2Jhc2U2NCxpVkJPUncwS0dnb0FBQUFOU1VoRVVnQUFBQmdBQUFBWUNBUUFBQUJLZnZWekFBQUFwa2xFUVZSNDJyMlRTeEhFSUJCRW53UWtJQUVwNnd3Y0JFY2dZUjBrRGpvSFNBN2hVMFh0Vm9ZYmRFL1BwNEYzdytKSkNKSHcyRG5ZNE5IamVNd1lYakpISEFDT1dKVUdsSUE0S3ZnS3g0RUkvZHFGSHZCQ0VlcjFFaEN4cXh6N0dybWIvOUpJN2JYUWNIcmR0MlhDZDFwUy9rUFR5Mk10R251enVIMjBPREJraE5odWEyelZUME56R0VKanZrQ2VVY0JXaU1nRTdLMDhvWXlLZllmeVdmbThaZzMrUzV4dDIyWXhiYWM5TkFBQUFBQkpSVTVFcmtKZ2dnPT0iIC8+PC9zdmc+") !important;
  background-repeat: no-repeat;
  background-position: right;
  color: black;

}

.lupa::placeholder {
  color: #12161ac4;
}

.search-bar {
  z-index: 1;
  position: fixed;
  border-radius: 3px;
  padding: 0.4em;
  margin-top: 2.6em;
  background-color: rgb(44, 160, 255);
}

.search-bar-item {
  background-color: rgb(44, 160, 255);
  padding: 0.5em;
}

.search-bar-item:hover {
  background-color: rgb(34, 144, 235);
  font-size: 1.01em;
}

/* bootstrap */

.Custom-Manager>li>a {
  position: relative;
  display: block;
  color: #0d6efd;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .Custom-Manager>li>a {
    transition: none;
  }
}


.Custom-Manager>li>a :hover {
  z-index: 2;
  color: #0a58ca;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.Custom-Manager>li>a :focus {
  z-index: 3;
  color: #0a58ca;
  background-color: #e9ecef;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.Custom-Manager>li :not(:first-child) .Custom-Manager>li>a {
  margin-left: -1px;
}

.Custom-Manager>li .active .Custom-Manager>li>a {
  z-index: 3;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.Custom-Manager>li .disabled .Custom-Manager>li>a {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}

.Custom-Manager>li>a {
  padding: 0.375rem 0.75rem;
}

.Custom-Manager>li :first-child .Custom-Manager>li>a {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.Custom-Manager>li :last-child .Custom-Manager>li>a {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.selected>a {
  background-color: rgb(91, 208, 255) !important;
}

/* end */